*.dll
packages/Xamarin.Android.Support.v4.19.0.2/Xamarin.Android.Support.v4.19.0.2.nupkg
*.targets
packages/Xamarin.Forms.1.3.1.6296/lib/MonoAndroid10/Xamarin.Forms.Core.xml
packages/Xamarin.Forms.1.3.1.6296/lib/MonoAndroid10/Xamarin.Forms.Xaml.xml
/packages/Xamarin.Forms.1.3.1.6296
/RadialProgressDemo/RadialProgressDemo/bin/Debug
/RadialProgressDemo/RadialProgressDemo/obj/Debug
/RadialProgressDemo/RadialProgressDemo.Droid/bin/Debug
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/assemblies
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/__library_projects__
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/acw-map.txt
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/build.force
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/R.cs.flag
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/RadialProgressDemo.Droid.csproj.FileListAbsolute.txt
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/RadialProgressDemo.Droid.csprojResolveAssemblyReference.cache
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/RadialProgressDemo.Droid.pdb
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/resolved_assemblies.txt
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RadialProgressDemo/RadialProgressDemo.Droid/obj/Debug
